label,
input[type=range] {
  display: block;
}

input[type=range] {
  width: 400px;
}

#container-left,
#container-right {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.boxes {
  display: inline-block;
}

.box {
  padding: 10px;
}
