* {
  box-sizing: border-box;
}

label,
input[type=range] {
  display: block;
}

input[type=range] {
  width: 400px;
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#wrapper > {
  flex: 1;
}

.boxes {
  display: inline-block;
}

.box {
  padding: 10px;
}
